@media (min-width: 1000px) {
    .fade-in-section {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.6s ease-out, transform .8s ease-out;
        will-change: opacity, visibility;
    }
    .fade-in-section.is-visible {
        opacity: 1;
        transform: none;
        visibility: visible;
    }
    .fade-in-top {
        transform: translateY(-10vh);
    }
    .fade-in-top-right {
        transform: translate(10vh, -10vh);
    }
    .fade-in-top-left {
        transform: translate(-10vh, -10vh);
    }
    .fade-in-bottom {
        transform: translateY(10vh);
    }
    .fade-in-bottom-left {
        transform: translate(-10vh, 10vh);
    }
    .fade-in-bottom-right {
        transform: translate(10vh, 10vh);
    }
    .fade-in-left {
        transform: translateX(-10vh);
    }
    .fade-in-right {
        transform: translateX(10vh);
    }
}